<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Password Reset</title>
    <style>
        body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #afafaf; 
}

.reset-form {
    background-color: #fff; 
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 300px;
}

label {
    margin-bottom: 10px;
    color: #343a40; 
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    padding: 10px;
    background-color: #343a40; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.btn-secondary {
    background-color: #fd3c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none; 
    display: inline-block; 
    margin-top: 15px;
}
    </style>
</head>
<body>
    <div class="reset-form">
        <h1 style="text-align: center;">Forget Password</h1>
        <% if (typeof message1 !== 'undefined') { %>
            <h4 style="color: red; border: 1px solid red; padding: 20px; background-color: rgba(249, 196, 196, 0.53);"><%= message1 %></h4>
        <% } else if (typeof message !== 'undefined') { %>
            <h4 style="color: green; border: 1px solid green; padding: 20px; background-color: rgba(196, 249, 196, 0.53);"><%= message %></h4>
        <% } %>
        
        <form action="#" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required class="input-field" placeholder="Enter your email">
            
            <button type="submit" class="submit-button">Submit</button>
            <a href="#" class="btn-secondary">Cancel</a>
        </form>
    </div>
</body>
</html>
