<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BOOKHUB</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <!-- Template CSS -->
    <link href="/assets-admin/css/main.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <div class="logo logo-width-1">
                <a href="/admin/home"><h3>BOOKHUB</h3></a>
            </div>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/profile"> <i class="icon material-icons md-person"></i>
                        <span class="text">My Profile</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/category/"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Manage Category</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-person"></i>
                        <span class="text">User Account</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Manage Product</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/product/add">Add product</a>
                        <a href="/admin/product/list">View Product</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="#">Order list 1</a>
                        <a href="#">Order list 2</a>
                        <a href="#">Order detail</a>
                        <a href="#">Order tracking</a>
                        <a href="#">Invoice</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                        <span class="text">Sellers</span>
                    </a>
                    <div class="submenu">
                        <a href="#">Sellers cards</a>
                        <a href="#">Sellers list</a>
                        <a href="#">Seller profile</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                    <div class="submenu">
                        <a href="#">Transaction 1</a>
                        <a href="#">Transaction 2</a>
                        <a href="#">Transaction Details</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li>
            </ul>
            <hr>
            <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="#">Setting sample 1</a>
                        <a href="#">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="/assets-admin/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="/assets-admin/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="/assets-admin/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="/assets-admin/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/assets-admin/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/admin-logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                    </div>
                </div>
            </div>
            <form action="" method="post" enctype="multipart/form-data">
                <% if(typeof successMessage !== 'undefined') { %>
                    <p style="color:green; font-size: 17px;  font-family: 'Times New Roman', Times, serif;"><%= successMessage %></p>
                <% } else if (typeof errorMessage !== 'undefined') { %>
                    <p style="color: red; font-size: 17px;  font-family: 'Times New Roman', Times, serif;" ><%= errorMessage %></p>
                <% } %>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-4">
                                <label for="product_title" class="form-label">Product title</label>
                                <input type="text" placeholder="Type here" class="form-control" id="title" name="title" required>
                                <span class="error-message" id="tittleErrorMessage"></span>
                            </div>
                            <div class="row gx-3">
                                <div class="col-md-4  mb-3">
                                    <label for="product_sku" class="form-label">Author</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="authorname" name="author" required>
                                    <span class="error-message" id="AuthorErrorMessage"></span>
                                </div>
                                <div class="col-md-4  mb-3">
                                    <label for="product_color" class="form-label">ISBN</label>
                                    <input type="text" placeholder="Type here" class="form-control"  name="ISBN" id="ISBN" required>
                                    <span class="error-message" id="ISBNErrorMessage"></span>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <label class="form-label">Description</label>
                                <textarea placeholder="Type here" class="form-control" rows="4" name="description" id="description" required ></textarea>
                                <span class="error-message" id="descriptionErrorMessage"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <label class="form-label">Images</label>
                                <input class="form-control" type="file" accept="image/*" id="image" name="images" multiple onchange="previewImages(event)" required>
                                <span class="error-message" id="imageErrorMessage"></span>
                            </div>
                            <div id="imagePreview" class="mt-3"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-4">
                                <label class="form-label">Price</label>
                                <input type="number" placeholder="Type here" class="form-control" name="price" id="price" >
                                <span class="error-message" id="priceErrorMessage"></span>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Discount Price</label>
                                <input type="number" placeholder="Type here" class="form-control" name="discountPrice" id="discountPrice">
                                <span class="error-message" id="discountPriceErrorMessage"></span>
                            </div>  
                            <label class="form-label">Select Category</label>                       
                            <select name="category" id="category" required>
                                <option value="" disabled selected>Select Category</option>
                                <% if (category) { %>
                                    <% for(let i = 0; i < category.length; i++) { %>
                                        <option value="<%= category[i].name %>"><%= category[i].name %></option>
                                    <% } %>
                                <% } %>
                                <span class="error-message" id="categoryErrorMessage"></span>
                            </select><br><br>
                            <div class="mb-4">
                                <label class="form-label">Count in Stock</label>
                                <input type="number" placeholder="Type here" class="form-control" name="countInStock" id="countInStock" >
                                <span class="error-message" id="countInStockErrorMessage"></span>
                            </div>                                                                                                                                
                        </div>
                    </div>
                </div>               
                <div>
                    <input type="hidden" name="action" id="action" value="">
                    <button type="submit" class="btn btn-md rounded font-sm hover-up" onclick="setAction('publish')">Publish</button>
                    <button type="submit" class="btn btn-light rounded font-sm mr-5 text-body hover-up" onclick="setAction('draft')">Save to draft</button>
                </div>
            </form>
        </section>
    </main>
    <script src="/assets-admin/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets-admin/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets-admin/js/vendors/select2.min.js"></script>
    <script src="/assets-admin/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets-admin/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/assets-admin/js/main.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>                                                                                                                                                                                                                                                                                                                       
    <script>
    function validateInput(inputElement, errorMessageElement, validationRegex, minLength, maxLength, emptyErrorMessage, invalidErrorMessage, consecutiveSameDigitsErrorMessage) {
    let input = document.getElementById(inputElement);
    let error = document.getElementById(errorMessageElement);

    function isWithinRange(value, min, max) {
            return value >= min && value <= max;
        }

    if (inputElement === 'category') {
        let select = document.getElementById(inputElement);
        select.addEventListener('change', function() {
            if (select.value === '') {
                select.classList.add('invalid');
                error.innerHTML = `<span style="color: red;">${emptyErrorMessage}</span>`;
            } else {
                select.classList.remove('invalid');
                error.innerHTML = '';
            }
        });
    } else {
        input.addEventListener('blur', function() {
            const inputValue = input.value.trim();

            if (inputElement === 'image') {
                if (input.files.length === 0) {
                    input.classList.add('invalid');
                    error.innerHTML = `<span style="color: red;">${emptyErrorMessage}</span>`;
                } else {
                    input.classList.remove('invalid');
                    error.innerHTML = '';
                }
            } else {
                if (inputValue === '') {
                    input.classList.add('invalid');
                    error.innerHTML = `<span style="color: red;">${emptyErrorMessage}</span>`;
                } else if (inputValue.length < minLength || (maxLength !== false && inputValue.length > maxLength) || !validationRegex.test(inputValue)) {
                    input.classList.add('invalid');
                    error.innerHTML = `<span style="color: red;">${invalidErrorMessage}</span>`;
                } else if (inputElement === 'title' && hasConsecutiveSameCharacters(inputValue)) {
                    input.classList.add('invalid');
                    error.innerHTML = `<span style="color: red;">${consecutiveSameDigitsErrorMessage}</span>`;
                } else if (inputElement === 'ISBN' && hasConsecutiveSameCharacters(inputValue)) {
                    input.classList.add('invalid');
                    error.innerHTML = `<span style="color: red;">${consecutiveSameDigitsErrorMessage}</span>`;
                } else if(inputElement === 'countInStock'){
                    if(!isWithinRange(parseInt(inputValue), 1, 100)){
                        input.classList.add('invalid');
                        error.innerHTML = `<span style="color: red;">${invalidErrorMessage}</span>`;
                    }
                } else {
                        input.classList.remove('invalid');
                        error.innerHTML = '';
                }
            }
        });

        input.addEventListener('focus', function() {
            if (input.classList.contains('invalid')) {
                input.classList.remove("invalid");
                error.innerHTML = '';
            }
        });
    }
}

validateInput('title', 'tittleErrorMessage', /^[A-Za-z0-9\s\-']+$/, 1, 60, 'Title should be required.', 'Title name cannot exceed more than 60 letters', '');
validateInput('authorname', 'AuthorErrorMessage', /^[a-zA-Z]+(?:\s[a-zA-Z]+)*$/, 1, 50, 'Author name should be required.', 'Author name should only contain letters and spaces.', null);
validateInput('ISBN', 'ISBNErrorMessage', /^\d{13}$/,false,13, 'ISBN should be required.', 'ISBN must contain exactly 13 digits.','');
validateInput('description', 'descriptionErrorMessage', /^[A-Za-z0-9\s\-']+$/, 1, false, 'Description should be required.', '');
validateInput('image', 'imageErrorMessage', null, null, null, 'Please select an image.', null);
validateInput('category', 'categoryErrorMessage', null, null, null, 'Please select a category', null);
validateInput('price', 'priceErrorMessage', /^\d+(\.\d+)?$/, false, false, 'Price should be required', 'Price can only contain digits and an optional decimal point',null);
validateInput('countInStock', 'countInStockErrorMessage', /^\d+$/, false, false, 'Count in Stock should be required.', 'Count in Stock should be a number between 1 and 100.', '');


function hasConsecutiveSameCharacters(inputValue) {
    for (let i = 0; i < inputValue.length - 1; i++) {
        if (inputValue[i] === inputValue[i + 1]) {
            return true;
        }
    }
    return false;
}
    
    //used for public and draft
    function setAction(action) {
    document.getElementById('action').value = action;
    }

    document.getElementById('image').addEventListener('change', function (e) {
    var files = e.target.files;
    var reader = new FileReader();

    reader.onload = function () {
        var img = new Image();
        img.src = reader.result;

        img.onload = function () {
            if (cropper) {
                cropper.destroy();
            }

          
            cropper = new Cropper(img, {
                aspectRatio: 5 / 7,
                viewMode: 1,  
            });
        };
    };
    reader.readAsDataURL(files[0]);
});

//used to preview image...
function previewImages(event){
    var preview = document.getElementById('imagePreview');
    preview.innerHTML = '';

    var files = event.target.files;

    for(var i = 0;i<files.length; i++){
        var file = files[i];
        var reader = new FileReader();

        reader.onload = function(e){
            var imgLink = document.createElement('a')
            imgLink.href = e.target.result;
            imgLink.setAttribute('data-lightbox', 'image-gallery');
            var img = document.createElement('img');
            img.src = e.target.result;
            img.className = 'img-thumbnail';
            img.style.maxWidth = '100px';
            img.style.maxHeight = '100px';
            imgLink.appendChild(img);
            preview.appendChild(imgLink);
        }
        reader.readAsDataURL(file);
    }
}
    
</script>              
</body>
</html>